*{  
    margin: 0;
    padding: 0;
    box-sizing: none;
}

body{
    background-image: url(./cerveja-churrasco.jpg);

}

#logo{
    width: 180px;
    height: 162px;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    height: 430px; 
    margin: auto;
    background-color: rgb(16, 17, 22);
    padding:15px;
    border-radius: 10px;

}

input{
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

h1{
    text-align: center;
}

#botao{
    width: 100px;
    height: 50px;
    background: #646462;
    color: #fff;
    border: none;
    border-radius: 6px;
    margin-left: 35%;
    cursor: pointer;
}

#resultado{
    text-align: center;
    color:white;
}